#signup
  register
    max-width: 600px
    padding: 0

    .inputs
      margin-bottom: .5rem

    .signup-type
      margin-top: 2rem
      margin-bottom: 1rem
      font-size: .75rem
      font-weight: 300

      & > *
        cursor: pointer

      .individual
        color: $highlightDarkColor

      .institution
        text-decoration: line-through
        cursor: not-allowed

    .columns
      flex-direction: row !important

    checkbox
      margin: 1rem auto 1rem
