html *
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  font-weight: 300

h1
  margin: 0
  font-size: 2.5rem
  line-height: 1em

h2
  font-size: 1.6875rem !important
  margin-bottom: .25rem !important
  line-height: 1em

h3
  font-size: 1.5rem
  margin: 0
  color: $textDarkColor
  line-height: 1em

p
  color: $textDarkColor
  font-size: .75rem
  line-height: 1em

span
  color: $textDarkColor
  line-height: 1em

