// Adjustments to astley.js material theme here
.m-card-header
  h4
    margin: 0
    font-weight: 500

.m-card .m-card-body
  padding: 1rem
  margin: 0

.m-card
.m-table
  border-radius: 2px
  overflow: hidden
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.2)
  background-color: $backgroundLightDarkColor

