extends /astley.js/src/templates/layout.pug

block meta
  include ./_meta.pug

block fonts
  include ./_fonts.pug

block style
  include ./_style.pug

block script
  include ./_script.pug

block analytics
  include ./_analytics.pug


