.ust-transactions
  h1 1.00
  p Hanzo UST <span>(UST)</span>

  .m-card.redeem
    .columns
      .left
        .type Redeem on 2018/12/13
      .right.rows
        .amount 3.00 <span>($3)</span>
        .date 10/10/2018
        .time 8:06am

  .m-card.deposit
    .columns
      .left
        .type Deposit
      .right.rows
        .amount 150.00 <span>($150.00)</span>
        .date 10/10/2018
        .time 8:05am

  .m-card
    .columns
      .left
        .type Transfer To
        .dest 0xF2FcCC0198fc6b39246Bd91272769D46d2F9D43b
      .right.rows
        .amount 1.00 <span>($1)</span>
        .date 10/10/2018
        .time 8:04am

  .m-card
    .columns
      .left
        .type Transfer To
        .dest 0xF2FcCC0198fc6b39246Bd91272769D46d2F9D43b
      .right.rows
        .amount 3.00 <span>($3)</span>
        .date 10/10/2018
        .time 8:04am

  .m-card.deposit
    .columns
      .left
        .type Deposit
      .right.rows
        .amount 2,682.40 <span>($2,676.40)</span>
        .date 10/10/2018
        .time 8:03am

  span.back-link(onclick='{ router.addFn("Account", "#account")}') < BACK

